<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
</head>
<body>
    <div class="doc_content_contatiner">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
</body>
</html>